PRESSEL_15_05.json
{
  "name": "PRESSEL 15-05",
  "nodes": [
    {
      "parameters": {
        "path": "presselaulajon",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "bfdfdbc8-8bf4-4137-bb79-c76679661e9d",
      "name": "Webhook",
      "webhookId": "70a2207d-401f-44d0-87ca-b57ef152bd13"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"numbers\": [\n    \"55xxx\"\n  ]\n}",
        "options": {}
      },
      "id": "9b2055f8-9030-4376-9ecc-d3fd25f2fabb",
      "name": "responde backup1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Define os números disponíveis\nconst opcoes = [1, 2, 3, 4];\n\n// Escolhe um número aleatório do array\nconst numero = opcoes[Math.floor(Math.random() * opcoes.length)];\n\n// Retorna o número escolhido\nreturn [\n  {\n    json: {\n      numero\n    }\n  }\n];"
      },
      "id": "77e885d3-95cc-49f6-8c2f-384e1fdf61fc",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.numero }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b5703bd3-7e95-4296-a195-202724eebd36",
                    "leftValue": "={{ $json.numero }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e52bb25d-0129-4bf9-9439-a265f75b5dc9",
                    "leftValue": "={{ $json.numero }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3faf4a48-d94e-4613-bd24-2fb5d1d9d949",
                    "leftValue": "={{ $json.numero }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4"
            }
          ]
        },
        "options": {}
      },
      "id": "e6116a46-8f25-4a17-bb07-4c117b2c1b70",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"numbers\": [\n    \"55xxx\"\n  ]\n}",
        "options": {}
      },
      "id": "caad5b24-05e4-4063-b1d1-f1820c03fe22",
      "name": "responde backup2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"numbers\": [\n    \"55xxx\"\n  ]\n}",
        "options": {}
      },
      "id": "c50fa29f-97cf-4339-85ff-8f14492584b5",
      "name": "responde backup3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"numbers\": [\n    \"55xxxx\"\n  ]\n}",
        "options": {}
      },
      "id": "1b9f0a07-a2ee-4fa6-9235-f0d5d3befbfa",
      "name": "responde backup4",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "responde backup1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "responde backup2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "responde backup3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "responde backup4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c331b79-e49f-465a-ad32-831494c362e4",
  "meta": {
    "instanceId": "2d76c42dd653d7f3062643ccef48fee10ffad9ac0b64ab33fc21e8a830c22540"
  },
  "id": "m1fweQS2zLuHJP92",
  "tags": []
}